body {
  display: flex;
}

#benvenuto{
  background-color: #295df8;
  color: white;
  flex-grow: 1;
  flex-basis: 100em;
  float: left;
}

#benvenuto > * {
    position: sticky;
    position: -webkit-sticky;
}

#form {
  margin: 10vh;
  flex-grow: 3;
}

.inputForm:hover{
  border-color: #295df8;
}

.formButton {
  margin-top: 10em;
  margin-inline: 5em;
}

#login-register-div {
  margin-bottom: 7em;
}

#login-register-active {
  background-color: white;
  color: #295df8;
  border-width: 0;
}

#login-register-inactive{
  background-color:#afc4f7;
  color: #295df8;
  border: 0;
}

#login-register{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 5vh;
}

#login-register-inactive:disabled,
#login-register-active:disabled {
  color: #295df8;
}



#login{
  display: flex;
  flex-direction: row;
}



h1{
  padding-top: 3em;
  padding-bottom: 1.5em;
  margin: 1em;
}

p{
  margin: 1em;
}